<div style="position: sticky;z-index: 1000;top:0;">


  <nav class="navbar navbar-expand-lg bg-body-tertiary" width="100%">
    <div class="container-fluid">

      <a class="navbar-brand" href="/product-search"><img src="../assets/Images/tataCliqLogo.png" alt="TataCliq Logo"
          width="100px" height="50px"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


          <li class="nav-item">
            <a class="nav-link" href="/product-management">Product Inventory</a>
          </li>

          <!-- Categories dropdown -->
          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-th-large"></i> Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fas fa-tshirt"></i> Clothing</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-mobile-alt"></i> Electronics</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-shoe-prints"></i> Footwear</a></li>
          </ul>
        </li> -->

          <!-- Brands dropdown -->
          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-star"></i> Brands
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fab fa-nike"></i> Nike</a></li>
            <li><a class="dropdown-item" href="#"><i class="fab fa-adidas"></i> Adidas</a></li>
            <li><a class="dropdown-item" href="#"><i class="fab fa-apple"></i> Apple</a></li>
          </ul>
        </li> -->

          <!-- 
        <li class="nav-item">
          <a class="nav-link" href="/HTML/dashboard.html">CliqCash</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/HTML/contact.html">CliqCare</a>
        </li>

      </ul> -->

          <!-- search bar-->
          <!-- <form class="d-flex custom-search-form" style="width: 35%;" role="search">
          <input class="form-control custom-search-input" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm" (ngModelChange)="searchProducts()" >
        </form> -->
        </ul>
        <!-- <mat-form-field class="d-flex custom-search-form" appearance="fill">
        <div class="search-bar-container">
          <div class="icon-container">
            <mat-icon matPrefix class="fa fa-search"></mat-icon>
          </div>
          <input matInput class="form-control custom-search-input" [placeholder]="searchPlaceholder" spellcheck="value"
            aria-label="Search" [(ngModel)]="headerSearchTerm" (ngModelChange)="updateSearchTerm(headerSearchTerm)" />
        </div>
      </mat-form-field> -->

      </div>

      <!-- User Sign in -->
      <div class="symbols">
        <div class="nav-item">
          <a routerLink="/profile">
            <i class="fa fa-user"></i>
            <span></span>
          </a>
        </div>

        <div class="nav-item">
          <a routerLink="/wishlist-page">
            <i class="fa fa-heart"></i>
            <span></span>
          </a>
        </div>

        <div class="nav-item">
          <a routerLink="/cart-page">
            <i class="fa fa-shopping-cart"></i>
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>